/* Adrian Cieślak
 hover: pseudo klasa która zmienia styl elementu po najechaniu na niego myszką */
div 
{
    width: 603px;
    background-color: #008000;
    font-size: 21mm;
}
#blok1_cieslak:hover
{
    background-color:rgb(255, 255, 0)
}
#blok2_cieslak:hover
{
    background-color:#FF0000;
}
#blok3_cieslak:hover
{
    background-color:#0000ff;
}